Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          buckets: ["elasticbeanstalk-us-west-1-667283916900"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile" 
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
          
files:
  "/etc/keys/oauth-private.key":
    mode: "000755"
    owner: root
    group: root
    source: https://s3-us-west-1.amazonaws.com/elasticbeanstalk-us-west-1-667283916900/oauth/oauth-private.key
    authentication: S3Access
